[Unit]
Description=Gunicorn socket for projectapp

[Socket]
ListenStream=/run/projectapp.sock
SocketUser=ryzepeck
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
